{% extends "base.html" %}

{% block content %}

{% if not request.user.is_authenticated %}
	<div style="margin-top:30px">
		<form method="POST">{% csrf_token %}
			{% if error %}
				<p style="color:red">{{ error }}</p>
			{% endif %}
			<label>Login</label>
			<div style="margin-top:10px">	
				<input type="text" name="username" placeholder="username" />
			</div>
			<div style="margin-top:10px">
				<input type="password" name="password" placeholder="password" />
			</div>
			<div style="margin-top:10px">
				<button type="submit">Login</button>
			</div>
		</form>
	</div>
{% else %}
	<p>You are already Logged In. Do you want to <a href='/logout/'>Logout?</a></p>
{% endif %}

{% endblock %}