{% extends "base.html" %}

{% block content %}

{% if not created %}


<div style="margin-top:30px">
<form actions="." method="POST">{% csrf_token %}
	
	{{ form.as_p }}
	<!-- <div style="margin-top:30px">
		<input type='text' name='title' placeholder='Title' />
	</div>

	<div style="margin-top:10px">
		<textarea name='content' placeholder='Content'></textarea>
	</div> -->
	<div style="margin-top:10px">
		<button type="submit">Create Article</button>
	</div>
</form>
</div>
{% else %}
<p>Your Article was created</p>
<a href='/articles/{{ object.id }}'>{{ object.title }}</a></li>

{% endif %}

{% endblock content %}